{% extends "layout.html" %} {% load static %}
{% block title %} New Age {% endblock %}

{% block body %}
<!-- <div class="bg-cover bg-center bg-[url({% static 'background.jpg' %})]"> -->
    <section class="seo bg-gray-200 mx-6 lg:mx-32 flex flex-col-reverse lg:flex-row items-center justify-center text-center lg:text-left h-screen transition" id="home">
        <div class="mr-4">
            <h1 class="text-3xl lg:text-5xl xl:text-6xl my-2 lg:my-5 font-bold">
                {{homeDB.title}}
            </h1>
            <p class="text-md">
                {{homeDB.smallContent}}
            </p>
            <a type="button" href="{% url 'booking' %}" class="text-white bg-[#0a1c42] border border-gray-300 focus:outline-none hover:bg-[#2e588c] focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 mt-4 mb-2">Book Now</a>

        </div>
        <img src="{% static 'gg.png' %}" class="w-9/12 md:w-3/5 lg:w-1/2 flex" class="inline ml-4" alt="">
    </section>

    <section class="seo bg-white" id="about">
        <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6 ">
        <div class="mx-auto max-w-screen-sm text-center">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold uppercase">About</h2>
        </div> 
        <div class="gap-16 items-center py-8 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16">
            <div class="font-light text-gray-500 sm:text-lg">
                <h2 class="mb-4 text-2xl md:text-3xl tracking-tight font-extrabold text-gray-900">{{aboutDB.title}}</h2>
                <p class="mb-4">{{aboutDB.Content | linebreaksbr }}</div>
            <div class="grid grid-cols-2 gap-4 mt-8">
                <img class="w-full rounded-lg" src="{{aboutDB.photo1}}" alt="office content 1">
                <img class="mt-4 w-full lg:mt-10 rounded-lg" src="{{aboutDB.photo2}}" alt="office content 2">
            </div>
        </div>
    </div>
    </section>


<section class="seo bg-gray-200" id="our-team">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6 ">
        <div class="mx-auto max-w-screen-sm text-center mb-8 lg:mb-16">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold uppercase">Our Team</h2>
            <p class="font-light lg:mb-16 sm:text-xl ">{{OurTeamDB.topContent}}</p>
        </div>
        {% for member in teamMemebersDB %}
        <div class="max-w-md mx-auto bg-white rounded-3xl shadow-md overflow-hidden md:max-w-6xl my-4 ">
            <div class="md:flex">
                <div class="px-5 py-6 md:px-9 md:py-10">
                    <div class="flex flex-row justify-between items-center">
                        <div class="uppercase tracking-wide text-sm text-[#1A8CF7] font-semibold">{{member.position}}</div>
                    </div>
                    <div class="flex flex-row justify-between">
                        <div class="uppercase tracking-wide flex row text-md text-dark mt-4 font-semibold">{{member.name}}<h4 class="mx-5 text-gray-500 font-medium italic capitalize">{{article.category}}</h4></div>
                    </div>
                    <p class="mt-2 text-slate-500 mb-4">{{member.moreInfo | linebreaksbr }}</p>
                    <a href="{% url 'booking' %}" class=" text-white bg-[#0a1c42] border border-gray-300 focus:outline-none hover:bg-[#2e588c] focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5">Book Now</a>
                </div>
                <div class="md:shrink-0">
                    <img class=" w-full object-cover md:h-full md:w-56 " src="{{member.photo}}" alt="Modern building architecture">
                </div>
            </div>
        </div>
          {% endfor %}
          
    </div>
  </section>

  <section class="seo bg-white" id="treatments">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6 ">
        <div class="mx-auto max-w-screen-sm text-center mb-8 lg:mb-16">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold uppercase">Treatments</h2>
        </div> 
        {% for t in TreatmentsDB %}
        {% if t.possitionInDesignRight %}
        <div class="grid gap-8 mb-4 lg:mb-12 md:grid-cols-2">
            <img src="{{t.photo}}" class="w-full rounded-xl shadow-lg" alt="">
            
            <div class="my-1 xl:my-8 lg:my-6 md:my-2">
                <h1 class="mb-4 text-3xl lg:text-4xl font-bold">{{t.title}}</h1>
                <p class="mb-4 text-lg lg:text-xl font-medium">{{t.moreInfo | linebreaksbr}}</h1>
            </div>
        </div>
        <hr class="md:hidden mb-24 mt-12">
        {% else %}
        <div class="grid gap-8 mb-4 lg:mb-12 md:grid-cols-2">
            <div class="my-1 xl:my-8 lg:my-6 md:my-2">
                <h1 class="mb-4 text-3xl lg:text-4xl font-bold">{{t.title}}</h1>
                <p class="mb-4 text-lg lg:text-xl font-medium">{{t.moreInfo | linebreaksbr}}</h1>
            </div>
            <img src="{{t.photo}}" class=" md:order-1 order-[-1] w-full rounded-xl shadow-lg" alt="">
        </div>
        {% endif %}
        {% endfor %}
    </div>
    </section>

    <div class="bg-gray-200">
        <div class="max-w-screen-xl px-4 py-8 mx-auto text-center lg:py-16 lg:px-6">
            <figure class="max-w-screen-md mx-auto">
                <svg class="h-12 mx-auto mb-3 text-gray-40" viewBox="0 0 24 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14.017 18L14.017 10.609C14.017 4.905 17.748 1.039 23 0L23.995 2.151C21.563 3.068 20 5.789 20 8H24V18H14.017ZM0 18V10.609C0 4.905 3.748 1.038 9 0L9.996 2.151C7.563 3.068 6 5.789 6 8H9.983L9.983 18L0 18Z" fill="currentColor"/>
                </svg> 
                <blockquote>
                    <p class="text-2xl font-medium text-gray-90">"Book a Treatments Now !"</p>
                    <a type="button" href="{% url 'booking' %}" class="text-white bg-[#0a1c42] border border-gray-300 focus:outline-none hover:bg-[#2e588c] focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 mt-4 mb-2">Book Now</a>

                </blockquote>
            </figure>
        </div>
      </div>
    
{% endblock %}